.App{
    width: 100vw;
    min-height: 100vh;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: #aec6e2;
    
}

.MainPage{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* border: 3px solid blue; */
}

.CompletedPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
}

.Randomizer{
    height: 100vh;
    width: 100vw;
    background: #aec6e2;
    text-align: center;
    margin: 70px;
    padding-left: 15%;
    /* border: 3px solid green; */
    
}

.Buttons{
    padding-bottom: 20px;
    display: flex;
    /* border: 3px solid yellow; */
}

.Container{
    display: flex;
    flex-direction: row;
    width: 70vw;
    /* position: absolute;
    left: 20%;
    top: 15%; */
    /* border: 3px solid greenyellow; */
}
@media only screen and (max-width: 600px){
    .Container{
        display: flex;
        flex-direction: column;  
    }
    .Randomizer{
        padding-left: 0%;
    }
}

.Image{
    
}

.Image:hover{
    
}

.Info{
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: left;
    padding-left: 50px;
}

.TopBar{
    width: 100%;
    height: 50px;   
    position: fixed;
    background-color: #252525;
}

.Sidebar{
    height: 100%;
    min-width: 220px;
    display: flex;
    position: fixed;
    top: 50px;
    background-color: #2f4050;
    overflow-y: scroll;
    animation-name: fade-in;
    animation-duration: 1s;
}

.NavLink{
    color: black;
    text-decoration: none;
}

.SidebarList{
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
 }

.SidebarList .row{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    flex-direction: row;
    color: white;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidebarList .row:hover{
    cursor: pointer;
    background-color: #19222b;
}

.SidebarList #active{
    background-color: #19222b;
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
    color: black;
}

.row #genre{
    flex: 70%;
}

.Watched{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}
@media only screen and (max-width: 600px){
    .Watched{
        flex-direction: column;
    }
}

.WatchedAnime{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.AnimeImage{
    
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

