.App{
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
}

.CompletedPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.Randomizer{
    height: auto;
    width: 100vw;
    background-color: #aec6e2;
    /* background-color: #ebdeb1; */
    text-align: center;

}

.Buttons{
    /* border: 3px solid yellow; */
}

.Container{
    display: flex;
    flex-direction: row;
    width: 70vw;
    position: absolute;
    left: 20%;
    top: 15%;
    /* border: 3px solid greenyellow; */
}

.Image{
 
}

.Info{
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: left;
    padding-left: 50px;
}

.MainPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.TopBar{
    /* width: 100%;
    height: 45px;
    background-color: aqua; */
}

.Sidebar{
    height: 100vh;
    width: 220px;
    display: flex;
    overflow: auto;
    background-color: #2f4050;
}

.SidebarList{
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
 }

.SidebarList .row{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    flex-direction: row;
    color: white;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidebarList .row:hover{
    cursor: pointer;
    background-color: #19222b;
}

.SidebarList #active{
    background-color: #19222b;
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
    color: black;
}

.row #genre{
    flex: 70%;
}

